body {
	padding: 0;
	margin: 0;
}

header {
	background-image: url('img/bg-slider.png');
	padding-bottom: 45%;
	background-size: cover;
}

section {
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
}

.logo {
	position: absolute;
	left: 40px;
	top: 50px;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
}

ul {
	list-style-type: none;
}

.item {
	display: inline-block;
	margin-right: 40px;
}

.item a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
	nav {
		display: none;
	}

	
}

.wrap {
	text-align: center;
}

.portfolio-item {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.portfolio-detail {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(48, 48, 48, 0.6);
	width: 271px;
	height: 278px;
	color: white;
	display: none;
}

.portfolio-detail h3 {
	margin-top: 30%;
}

.portfolio-item:hover .portfolio-detail {
	display: block;
}

.ava {
	display: block;
	margin: 0 auto;
	margin-top: 3%;
}

h2 {
	text-align: center;
}

.plain-text {
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-size: 15px;
	color: grey;
}

.cignature {
	display: block;
	margin: 0 auto;
	margin-top: 2%;
}

.phography {
	text-align: center;
	font-size: 14px;
}

.social {
	display: inline-block;
	margin-right: 30px;
	border-radius: 42px;
    border: 1px solid grey;
}

.social-parent {
	text-align: center;
}

.rose {
	float: left;
	width: 25%;
}

.rose1 {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}



.plain-text-2 {
	text-align: left;

	font-size: 15px;
	color: grey;
}

.button {
	width: 100px;
	height: 30px;
	border: 1px solid grey;
	background-color: grey;
	text-align: center;
}

.button-text {
	text-decoration: none;
	color: white;
	vertical-align: middle;
}


}
.philosophi {
	clear: both;
	margin-top: 5%;
}

.solution {
	margin-left: 15px;
}

.layer {
	float: right;
	margin-left: 15px;
	width: 50%;
}

/*.client {
	display: block;
	margin: 0 auto;
}*/

.i-text {
	margin: 0 auto;
	margin-top: 15px;
	width: 500px;
	color: grey;
	font-size: 16px;
	font-style: italic;
}

h3 {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}

.ocupation {
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
}

.play {
	display: inline-block;
	margin: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid grey;
	padding: auto;
}

.play-parent {
	text-align: center;
}